<div class="container">
  <div class="card border-white shadow">
    <div class="card-body">
      <h2 class="d-flex justify-content-center card-title" style="margin-bottom: 20px;">Bienvenue !</h2>
      <h6 class="text-text-muted d-flex justify-content-center card-subtitle mb-2" style="margin-bottom: 0px;">Liens d&#39;accès
        rapide</h6>
      <div class="row d-flex align-items-center" style="margin-top: 10px;">
        <div class="col">
          <div class="row d-flex justify-content-sm-center justify-content-md-center homeline">
            <div class="col-auto d-flex justify-content-center align-items-center" style="width: 30px;">
              <i class="far fa-user"></i>
            </div>
            <div class="col-auto col-sm-7">
              <a class="homelink" routerLink="nouveau-patient" routerLinkActive="active">Enregistrer un patient ou
                client</a>
            </div>
          </div>
          <div class="row d-flex justify-content-sm-center justify-content-md-center homeline">
            <div class="col-auto d-flex justify-content-center align-items-center" style="width: 30px;">
              <i class="fas fa-laptop-medical"></i></div>
            <div class="col-auto col-sm-7">
              <a class="homelink" routerLinkActive="active" routerlink="#">Enregistrer une visite de consultation</a>
            </div>
          </div>
          <div class="row d-flex justify-content-sm-center justify-content-md-center homeline">
            <div class="col-auto d-flex justify-content-center align-items-center" style="width: 30px;">
              <i class="fas fa-file-medical-alt"></i>
            </div>
            <div class="col-auto col-sm-7">
              <a class="homelink" routerLinkActive="active" routerlink="#">Enregistrer des ANALYSEs</a>
            </div>
          </div>
          <div class="row d-flex justify-content-sm-center justify-content-md-center homeline">
            <div class="col-auto d-flex justify-content-center align-items-center" style="width: 30px;">
              <i class="fas fa-medkit"></i>
            </div>
            <div class="col-auto col-sm-7">
              <a class="homelink" routerLinkActive="active" routerlink="#">Enregistrer une hospitalisation</a>
            </div>
          </div>
          <div class="row d-flex justify-content-sm-center justify-content-md-center homeline">
            <div class="col-auto d-flex justify-content-center align-items-center" style="width: 30px;">
              <i class="fas fa-clinic-medical"></i>
            </div>
            <div class="col-auto col-sm-7">
              <a class="homelink" routerLinkActive="active" routerlink="#">Enregistrer des soins</a>
            </div>
          </div>
          <div class="row d-flex justify-content-sm-center justify-content-md-center homeline">
            <div class="col-auto d-flex justify-content-center align-items-center" style="width: 30px;">
              <i class="fas fa-money-bill-wave"></i>
            </div>
            <div class="col-auto col-sm-7">
              <a class="homelink" routerLinkActive="active" routerlink="#">Editer une facture</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
