<div class="modal-content">
  <div class="modal-header">
    <button (click)="modalRef.dismiss()" aria-label="Close" class="close pull-right" type="button">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title w-100" id="myModalLabel">Ajouter une nouvelle consultation</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="md-form">
        <input class="form-control" formControlName="codeCons" id="code" type="text" (input)="form.get('codeCons')?.setValue($event.target.value.toUpperCase())" placeholder="Code de la consultation">
        <label for="code">Code consultation</label>
        <div *ngIf="form.get('codeCons')?.invalid && (form.get('codeCons')?.dirty || form.get('codeCons')?.touched)" class="text-danger">*Champ obligatoire</div>
      </div>
      <div class="md-form">
        <input class="form-control" formControlName="designation" id="designation" type="text" (input)="form.get('designation')?.setValue($event.target.value.toUpperCase())" placeholder="Designation">
        <label for="designation">Nom</label>
        <div *ngIf="form.get('designation')?.invalid && (form.get('designation')?.dirty || form.get('designation')?.touched)" class="text-danger">*Champ obligatoire</div>
      </div>
      <div class="form-floating">
        <select class="browser-default custom-select form-control" formControlName="type" id="type" placeholder="Type de consultation">
          <option value="" selected disabled>Type de consultation</option>
          <option value="GENERALE">GENERALE</option>
          <option value="SPECIALISEE">SPECIALISEE</option>
        </select>
        <label for="type">Type</label>
        <div *ngIf="form.get('type')?.invalid && (form.get('type')?.dirty || form.get('type')?.touched)" class="text-danger">*Champ obligatoire</div>
      </div>
      <div class="md-form">
        <input class="form-control" formControlName="tarifNor" id="tarifNor" type="number" placeholder="Tarif Normal">
        <label for="tarifNor">Tarif Normal</label>
        <div *ngIf="form.get('tarifNor')?.invalid && (form.get('tarifNor')?.dirty || form.get('tarifNor')?.touched)" class="text-danger">*Champ obligatoire</div>
      </div>
      <div class="md-form">
        <input class="form-control" formControlName="tarifAss" id="tarifAss" type="number" placeholder="Tarif Assuré">
        <label for="tarifAss">Tél. 2</label>
        <div *ngIf="form.get('tarifAss')?.invalid && (form.get('tarifAss')?.dirty || form.get('tarifAss')?.touched)" class="text-danger">*Champ obligatoire</div>
      </div>
      <div class="form-floating">
        <textarea class="form-control" formControlName="description" id="description" type="text" placeholder="Description"></textarea>
        <label class="form-label" for="description">Description</label>
        <div *ngIf="form.get('description')?.invalid && (form.get('description')?.dirty || form.get('description')?.touched)" class="text-danger">*Champ obligatoire</div>
      </div>
      <div class="md-form">
        <input class="form-control" formControlName="dureeValidite" id="dureeValidite" type="number" placeholder="Durée de validité en nombre de jours">
        <label for="dureeValidite">Durée de validité</label>
        <div *ngIf="form.get('dureeValidite')?.invalid && form.get('dureeValidite')?.dirty" class="text-danger">*Champ obligatoire</div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button (click)="modalRef.dismiss()" aria-label="Close" class="waves-light" color="secondary" mdbBtn mdbWavesEffect type="button">Fermer</button>
    <button (click)="editRow()" [disabled]="form.invalid" class="relative waves-light" color="primary" mdbBtn mdbWavesEffect type="button">Sauvegarder</button>
  </div>
</div>