<div class="modal-content">
  <div class="modal-header">
    <button (click)="modalRef.hide()" aria-label="Close" class="close pull-right" type="button">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title w-100" id="myModalLabel">Edit user: {{editableRow.first}}</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="md-form">
        <input class="form-control grey-text" formControlName="id" id="id" mdbInput type="text">
        <label for="id">ID</label>
      </div>
      <div class="md-form">
        <input [validateSuccess]="false" class="form-control" formControlName="first" id="first" mdbInput mdbValidate
               type="text">
        <label for="first">First</label>
        <mdb-error *ngIf="first.invalid && (first.dirty || first.touched)">Input is required</mdb-error>
      </div>
      <div class="md-form">
        <input [validateSuccess]="false" class="form-control" formControlName="last" id="last" mdbInput mdbValidate
               type="text">
        <label for="last">Last</label>
        <mdb-error *ngIf="last.invalid && (last.dirty || last.touched)">Input is required</mdb-error>
      </div>
      <div class="md-form">
        <input [validateSuccess]="false" class="form-control" formControlName="handle" id="handle" mdbInput mdbValidate
               type="text">
        <label for="handle">Handle</label>
        <mdb-error *ngIf="handle.invalid && (handle.dirty || handle.touched)">Input is required</mdb-error>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button (click)="modalRef.hide()" aria-label="Close" class="waves-light" color="secondary" mdbBtn
            mdbWavesEffect type="button">Close
    </button>
    <button (click)="editRow()" [disabled]="form.invalid" class="relative waves-light" color="primary" mdbBtn
            mdbWavesEffect type="button">Save!
    </button>
  </div>
</div>
