<div class="container">
  <div class="card border-white shadow">
    <div class="card-body">
      <h4 class="d-md-flex justify-content-center card-title">LISTE DES CONSULTATIONS PRIS EN CHARGE</h4>
      <p class="d-md-flex justify-content-center">
        <small>( Uniquement pour les Administrateurs ! )</small></p>
      <div>
        <button (click)="createConsultation()" color="primary" mdbBtn mdbWavesEffect size="sm">Nouveau</button>
        <div class="row"></div>
        <div class="row">
          <table mdbTable #tableEl="mdbTable" class="z-depth-5" hover="true" stickyHeader="" striped="true">
            <thead class="">
            <tr>
              <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="elements | async"
                  [sortBy]="headElements[i]" scope="col">{{head | titlecase}}
                <!--<mdb-icon fas icon="sort"></mdb-icon>-->
              </th>
            </tr>
            </thead>
            <tbody #row>
            <tr *ngFor="let el of elements | async ; let i = index">
              <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                  scope="row">{{el.codeCons}}
              </th>
              <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                {{el.designation}}
              </td>
              <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                {{el.type}}
              </td>
              <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                {{el.tarifNor}}
              </td>
              <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                {{el.tarifAss}}
              </td>
              <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                {{el.dureeValidite}}
              </td>
              <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
                <button (click)="editRow(el)" color="warning" mdbBtn mdbWavesEffect size="sm">Modifier</button>
                <button (click)="removeRow(el)" color="danger" mdbBtn mdbWavesEffect size="sm">Supprimer</button>
              </td>
            </tr>
            </tbody>
            <tfoot class="grey lighten-5 w-100">
            <tr>
              <td colspan="5">
                <mdb-table-pagination [searchDataSource]="elements | async" [tableEl]="tableEl"
                                      paginationAlign=""></mdb-table-pagination>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
