<div class="modal-content">
  <div class="modal-header">
    <button (click)="modalRef.close()" aria-label="Close" class="close pull-right" type="button">
      <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title w-100" id="myModalLabel">Modifier : {{editableRow.nom}}</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="form-group">
        <label for="id">ID</label>
        <input class="form-control grey-text" formControlName="id" id="id" type="text">
      </div>
      <div class="form-group">
        <label for="nom">Nom</label>
        <input class="form-control" formControlName="nom" id="nom" type="text" (input)="form.controls['nom'].setValue(form.controls['nom'].value.toUpperCase())" placeholder="Nom">
        <div *ngIf="form.controls['nom'].invalid && (form.controls['nom'].dirty || form.controls['nom'].touched)" class="text-danger">*Champ obligatoire</div>
      </div>
      <div class="form-group">
        <label for="prenom">Prénom</label>
        <input class="form-control" formControlName="prenom" id="prenom" type="text" (input)="form.controls['prenom'].setValue(form.controls['prenom'].value.toUpperCase())" placeholder="Prénom">
        <div *ngIf="form.controls['prenom'].invalid && (form.controls['prenom'].dirty || form.controls['prenom'].touched)" class="text-danger">*Champ obligatoire</div>
      </div>
      <div class="form-group">
        <label for="tel1">Tél. 1</label>
        <input class="form-control" formControlName="tel1" id="tel1" type="tel" placeholder="Tél. 1">
        <div *ngIf="form.controls['tel1'].invalid && (form.controls['tel1'].dirty || form.controls['tel1'].touched)" class="text-danger">*Champ obligatoire</div>
      </div>
      <div class="form-group">
        <label for="tel2">Tél. 2</label>
        <input class="form-control" formControlName="tel2" id="tel2" type="tel" placeholder="Tél. 2">
        <div *ngIf="form.controls['tel2'].invalid && (form.controls['tel2'].dirty || form.controls['tel2'].touched)" class="text-danger">*Champ obligatoire</div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" formControlName="email" id="email" type="email" placeholder="Email">
        <div *ngIf="form.controls['email'].invalid && form.controls['email'].dirty" class="text-danger">*Email invalide</div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button (click)="modalRef.close()" class="waves-light btn-secondary" type="button">Fermer</button>
    <button (click)="editRow()" [disabled]="form.invalid" class="relative waves-light btn-primary" type="button">Sauvegarder</button>
  </div>
</div>
